In [1]:
import pandas as pd

In [2]:
pd.read_excel(r'C:\Users\PC\Downloads\mydataset.xlsx')

     Name  Roll Class    Place
0  Adarsh    21    A1     Tura
1    Muku    22    B2  Gujarat
2   Priya    23    C3      Ghy